@import url("https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap");
body, html {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: 'Lexend Exa', sans-serif;
}

body {
  background-color: #F2EBC9;
}

nav {
  background-color: #404040;
}

#navbar-dark {
  background-color: #F2EBC9;
}

nav div a, nav div a:hover, nav div a:focus {
  color: #404040;
  font-weight: bolder;
  display: inline-block;
  padding: 0.2em 1.5em;
  margin: 0.2em 1em 0.2em 0;
  background-color: #56B5BF;
  border-radius: 15px;
  text-decoration: none;
}

nav button[data-toggle="collapse"] i {
  color: #BFB169;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
  background-color: #BFB169;
  border-color: #BFB169;
}

.btn-success.focus, .btn-success:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #BF784E;
          box-shadow: 0 0 0 0.2rem #BF784E;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #BF784E;
  border-color: #BF784E;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #BFB169;
          box-shadow: 0 0 0 0.2rem #BFB169;
}

button:focus {
  outline: 1px;
}

@media only screen and (max-width: 847px) and (max-height: 320px) {
  .mb-auto {
    margin-bottom: 90px !important;
  }
}

#principal {
  background-image: url("../img/logo/opposalP1.png"), url("../img/logo/opposalP2.png"), url("../img/logo/opposalP3.png");
  background-repeat: no-repeat;
  background-position: 40% 24%, 49% center, center 65%;
  background-size: 23%, 28.5%, 30%;
  -webkit-transition: background-position 1s;
  transition: background-position 1s;
}

#principal:hover {
  background-position: 45.5% 24%, 49% center, center 65%;
}

#sesion {
  max-width: 390px;
  margin: auto;
  background-color: rgba(86, 181, 191, 0.5);
  padding: 10px;
  border-radius: 15px;
}
